<div class="acount-container">
  <div class="acount-container__box">
    <h2 class="acount-container__box__text">スポット登録</h2>
    <%= render partial: "spot-form", locals: {spot: @spot} %>
  </div>
</div>

