<% if resource.errors.any? %>
  <div class="alert-box">
    <ul class="alert-lists">
      <% resource.errors.full_messages.each do |message| %>
        <li class="alert-lists__list">
          <p class="alert-lists__list__message"><%= message %><p>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
