<h1>
  Users#show
</h1>
<p>
  Find me in app/views/users/show.html.haml
</p>

<%= @user.nickname %>
<%= @user.introduction %>
<% if @user.avatar? %>
  <%= image_tag @user.avatar.to_s, size: "200x300" %>
<% else %>
  <i class="far fa-user-circle fa-3x"></i>
<% end %>


<%= link_to "プロフィールの編集画面へ", edit_user_path(@user) %>
