.index-container {
  padding: 5% 0;
  height: 100%;
  width: 100%;
  background-color: rgba(245,245,245,1);
  &__top {
    width: 80%;
    margin: 0 auto 20px;
    padding-bottom: 5%;
    border-bottom: 1px solid rgba(192, 192, 192, 0.5);
    .index-map {
      #map-show {
        width: 100%;
      }
    }
  }

  &__body {
    display: flex;
    margin: 0 auto;
    text-align: center;
    padding: 0 30px;
    background-color: rgba(245,245,245,1);


    &--left {
      width: 60%;
      .spot-lists {
        &__title{
          font-size: 30px;
          font-weight: bold;
          margin-bottom: 30px;
        }
        .spot-list {
          text-decoration: none;
          width: 70%;
          background-color: white;
          display: inline-block;
          border-radius: 10px 10px 5px 5px;
          margin-bottom: 8%;
          color: black;
          &__image {
            width: 100%;
            height: auto;
            border-radius: 10px 10px 5px 5px;
            margin-bottom: 10px;
          }
          &__spot-name {
            font-size: 25px;
            padding: 0 15px;
            margin: 10px 0;
          }
          &__user-name {
            font-weight: bold;
            font-size: 20px;
          }
          &__created {
            font-size: 15px;
            opacity: 0.7;
          }
        }
      }
    }


    &--right {
      width: 40%;
      .spot-likes-ranking {
        &__title {
          font-size: 30px;
          font-weight: bold;
          margin-bottom: 30px;
        }
        .like-rank {
          background-color: white;
          display: inline-block;
          margin-bottom: 8%;
          color: black;
          width: 330px;
          border-radius: 10px 10px 5px 5px;
          &__image {
            border-radius: 10px 10px 5px 5px;
          }
          &__text {
            font-weight: bold;
            font-size: 20px;
          }
          &__count {
            margin-bottom:10px;
          }
          &__spot-name {
            font-size: 18px;
            padding: 0 10px;
          }
        }
      }
    }
  }
}