.image-form {
  text-align: center;
  width: 100%;
  &__under-box {
    width: 50%;
    margin: auto;
    &__label {
      font-size: 40px;
      letter-spacing: 2px;
      font-weight: bold;
    }
    &__input {
      margin-bottom: 40px;
    }
  }
}